CC=cl -nologo
BIN_SUFFIX=.exe
LD=/c/Program\ Files/Microsoft\ Visual\ Studio\ 8/VC/bin/link.exe -nologo
OBJ_SUFFIX=obj
CXX=cl -nologo
LIB_SUFFIX=dll
OBJOUT=-Fo
LIB_PREFIX=
STATIC_SUFFIX=lib
OS_ARCH=win32
BRAND=usbmonitor
MODE=debug
OBJDIR=$(TOPSRC)/$(MODE)-$(BRAND)/
CPPFLAGS=/DDEBUG /D_WIN32 /DWIN32 /nologo /W3 /MDd /Zi /Od /GS /Gd
LDFLAGS=/nologo /INCREMENTAL /DEBUG /ASSEMBLYDEBUG /SUBSYSTEM:CONSOLE
